{% extends "base.html" %}
{% block title %}IKEA{% endblock %}
{% load staticfiles %}
{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}
{% block content %}
<div id="content">
    <h1>비밀번호 변경</h1>

    <form action="" method="post">{% csrf_token %}

    {% if form.errors %}
        <p class="errornote">오류! 다시 시도해주세요.</p>
    {% endif %}

    <h5>예전 비밀번호를 입력한 뒤, 새로운 비밀번호를 두 번 입력하세요. </h5>

    <fieldset class="aligned">
        <div class="form-row">
            {{ form.old_password.label_tag }}{{ form.old_password }}
        </div>
        <div class="form-row">
            {{ form.new_password1.label_tag }}{{ form.new_password1 }}
        </div>
        <div class="form-row">
            {{ form.new_password2.label_tag }}{{ form.new_password2 }}
        </div>
    </fieldset>
    <div class="submit-row">
        <input type="submit" value="Password Change"/>
    </div>
    <script type="text/javascript">document.getElementById("id_old_password").focus();
    </script>
    </form>
</div>
{% endblock %}