body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
}

#content_home {
    position: absolute;
    top: 80px;
    left: 110px;
    right: 110px;
}

div#homeimg {  /*이미지 두개*/
    /*top: 100px;*/
    /*background: #ddd;*/
    /*padding: 5px 0 1px 0;*/
    text-align: center;
}



#board {text-align: left;}

h1 {
    /*margin-left: 150px;*/
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

#applist {
    margin-left: auto; margin-right: auto;
}

td a {
    font-size: 18px;
}
td {
    vertical-align: middle;
    font-size: 15px;
}

#Edit a img {
    width: 36px;
    vertical-align: middle;
}
/*게시판 내용*/
.board_cnt {
    font-size: 15px;
}

/*이케아 가족 이야기*/
#funi {
    margin-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.carousel-indicators li { visibility: hidden; }

#myCarousel {margin: auto;}



